
.pan{
    height: 49px;
    background-color: #FFDD02;
}
.pan13{
    top: 12px;
    left: 70px;
    font-family: robot;
}
.pan2{
    border-right: 1px solid #BFA601;
}
.pan3{
    width: 19px;
    height: 19px;
    top: 14px;
    left: 87px;
}
.pan4{
    top: 11px;
    left: 12px;
    font-family: robot;
}
.pan5{
    top: 12px;
    left: 5px;
    font-family: robot;
}
.pan6{
    top: -17px;
    left: 242px;
    font-family: robot;
}
.pan7{
    top: -1px;
    left: 242px;
    font-family: robot;
}
.pan8{
    top: -7px;
    left: 588px;
    font-family: robot;
}
.pan9{
    width: 58px;
    height: 41px;
    top: 0px;
    left: 179px;
}
.pan10{
    width: 13px;
    height: 15px;
}
.pan11{
   left: -15px;
    top: 13px;
    font-family: robot;
}
.pan12{
    top: 13px;
    left: 13px;
    font-family: robot;
}
.pan14{
    height: 80px;
    background: linear-gradient(to top, #292928 10%, #141414 90%);
}

.pan15{
    top: 20px;
    left: 74px;
}
.pan16{
    top: 27px;
    left: 7px;
    color: #91A69E;
    font-family: robot;
}
.pan17{
    top: 12px;
    left: 7px;
    font-size: 13px;
    color: #F1DD02;
    font-family: robot;
}
.pan18{
    top: 12px;
    left: 7px;
    font-size: 13px;
    color: #91A69E;
    font-family: robot;
}
.pan19{
    top: 15px;
    left: 10px;
    width: 317px;
    height: 34px;
    padding-left: 16px;
    background-color: #292928;
    z-index: 1;
}
.pan20{
    top: 25px;
    left: 294px;
    z-index: 2;
    color: #F1DD02;
}
.pan19:hover{
    background-color: white;
}
.pan19:hover +.pan20{
    color: black
    ;
}
.pan21{
    margin-left: 86px;
    font-family: robot;
    color: white;
    margin-top: 7px;
}
.pan22{
    margin-left: 20px;
}
.pan23{
    width: 17px;
    height: 15px;
    margin-left: 5px;
}
.menu{
    height: 40px;
    background: linear-gradient(to bottom, #292928 10%, #141414 90%);
    border-top: 1px solid black;
}
.owl-prev{
    
    position: absolute!important;
    top: 213px;
    left: -39px;
    width: 70px;
    height: 70px;
    background-color: white!important;
    border-radius: 50% !important;
    font-size: 30px !important;
    
}
.owl-next{
    
    position: absolute!important;
    top: 213px;
    left: 1174px;
    width: 70px;
    height: 70px;
    background-color: white!important;
    border-radius: 50% !important;
    font-size: 30px !important;
    
}
.pan24{
    left: 71px;
    width: 90%;
    height: 2000px;
    background-color:violet;
}
.pan25{
    height: 2000px;
    width: 100%;
    background-color:#E2E2E2 ;
}
.pan26{
    width: 1178px;
    height: 530px;
    top: -64px;
    left: 17px;
    z-index: 2;
    
}
.pan27{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
.pan28{
    top: 178px;
    left: 24px;
}
.pan29{
    font-size: 12px;
    top: 210px;
   
    height: 31px;
    background-color: black;
    width: 100%;
    border-radius: 0px 3px 3px 0px;
}
.pan30{
    color: white;
    top: 4px;
    left: 24px;
   
}
.pan31{
    width: 31px;
    height: 31px;
    outline: none;
    border-radius:0px 3px 3px 0px  ;
    border: none;
    left: 300px;
    background-color: #FFDD02;
}
.pan32{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
.pan33{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
.pan34{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
.pan35{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
.pan36{
    width: 28.1%;
    height: 240px;
    border-radius: 3px 3px 3px 3px;
    top: 0px;
    left: 0px;
}
















